@import '~styles/variables.scss';
.mat-datepicker-toggle {
    color: $primary;
    font-size: 16px;
    font-weight: 400;
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
   
    font-weight: 500 !important;
}

.post-office_selector {
color:$primary;
font-weight: 400;
}

mat-option {
    
    font-size: 12px !important;
    font-weight: 500;
}



.mat-datepicker-toggle[_ngcontent-c38] {
    color:$primary !important; 
}

.mat-select-trigger {
    color:$primary !important; 
}

.mat-input-element.mat-form-field-autofill-control {
    color:$primary !important; 
}



.mat-option.mat-selected.mat-active , .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #076973;
    background: #defcff;
}

.mat-form-field-autofill-control {
    font-size: 12px;
}




