@import '~styles/variables.scss';
@import '~styles/animations.scss';

.dps-fl-tree {
  height: 100%;
  flex-direction: column;


  mat-list {



    div.mat-list-wrapper {
      width: 100%;
    }

    mat-list-item {
      width: 100%;
      font-size: 12px;
      height: 30px;
    
    }
    .grid-data 
    {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 260px;
      -webkit-user-select: none;     
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      cursor: pointer;

      &:hover
      {
        color: #1067a5;
      }
    }
  }

  i {
    padding: 5px;
    width: 13px;
    font-size: $primary-font-size + 4;
    color: #175c79;
    cursor: pointer;
  }
}

mat-icon {
  font-size: $primary-font-size + 4;
  
}

.dps-tree-row-select {

  .mat-icon
  {
    color: #f9b81e;
    
    
  }
  span
  {
    font-weight: bold;
    transition: .5s linear all;

  }
}

.dps-folder-item-name 
{
  .mat-icon
  {
    width: 18px;
    cursor: pointer;
  }
}

// .dps-folder-list-item .dps-folder-item-name {
//   display: inline-block;
//   white-space: nowrap;
//   overflow: hidden !important;
//   text-overflow: ellipsis;
//   font-size: $primary-font-size - 2;
//   font-weight: 400;
//   color: #596469;
// }

// .fa-angle-right:before {
//   margin-left: 5px;
// }

// .fa-angle-right:before {
//   margin-left: 5px;
// }

// mat-list-item:hover {
//   background: #e9f6ff;
// }

// div.menu-item-disable {
//   cursor: default !important;
//   opacity: 0.6;
//   /* pointer-events: none;  */
// }

// mat-list-item {
//   font-size: $primary-font-size - 2;
// }
