<mat-nav-list dence class="dps-grid-nav-list">
  
    <mat-list-item [ngClass]="{'active': rowData.selected}" class="dps-grid-list-item" *ngFor="let rowData of gridData; let index =index; let isOdd=odd; let isEven=even"
      [ngClass]="isOdd?'dps_row_separation-0':'dps_row_separation-1'" [ngClass]="{'active': rowData.selected}"
      (click)="onRowClick(rowData)">
      <div fxLayout class="grid-data">
      <div class="row-data mat_line" [fxFlex]="getFxFlexProperty(0)" innerHTML="{{rowData.matterRef}}"></div>
      <div class="row-data" [fxFlex]="getFxFlexProperty(1)" innerHTML="{{rowData.bailConds}}"></div>
    </div>
    </mat-list-item>

</mat-nav-list>
 