<div fxLayout="colums">
  <div [formGroup]="timeForm" class="dps-time-input-container">
    <input class="dps-time-input-element" matInput type="text" autocomplete="off" name="{{controllerName+'hour'}}"
      formControlName="hour" size="1" maxlength="2" #hourInput>
    <span class="dps-time-input-spacer">:</span>
    <input class="dps-time-input-element" matInput type="text" autocomplete="off" name="{{controllerName+'minute'}}"
      formControlName="minute" size="1" maxlength="2" #minuteInput (focusout)="onRoundedToMPUminute()">
  </div>
  <input *ngIf="!isUnitDisable" [value]="noOfunits" #units matInput min="1" type="number"
    (keydown)="validateUnits($event, units.value)" (keyup)="keyUpUnits($event, units.value)"
    (change)="changeUnits(units.value)" [max]=maxNumberOfUnits [disabled]="disabled">
</div>
