<mat-nav-list dence class="dps-grid-nav-list">
  <mat-list-item class="dps-grid-list-item" *ngFor="let rowData of gridData; let index =index; let isOdd=odd; let isEven=even"
    [ngClass]="isOdd?'dps_row_separation-0':'dps_row_separation-1'" (click)="onRowClick(rowData)">
    <div fxLayout="row" class="grid-data">
      <div class="row-data" [fxFlex]="getFxFlexProperty(0)" innerHTML="{{rowData.documentRef}}"></div>
      <div class="row-data" [fxFlex]="getFxFlexProperty(1)" innerHTML="{{rowData.location}}"></div>
      <div class="row-data" [fxFlex]="getFxFlexProperty(2)" innerHTML="{{rowData.reviewDate  | date :'dd/MM/yyyy' }}"></div>
      <div class="row-data" [fxFlex]="getFxFlexProperty(3)" innerHTML="{{rowData.destroyDate  | date :'dd/MM/yyyy' }}"></div>
    </div>
  </mat-list-item>
</mat-nav-list>
