<div [dpsQaAtm]="meta?.scL_Name" *ngIf="(hidden===true || hidden===false)? !hidden : meta?.scL_Visible"
  class="label-with-inputtext input-wrapper">
  <mat-form-field>
    <mat-placeholder>{{customCaption || meta?.scL_Caption || meta?.scL_DefaultCaption || lableName}}
      <span class="required-star" *ngIf="meta?.scL_Required">*</span>
    </mat-placeholder>
    <input matInput maxlength="{{maxlength}}" (blur)="onblurInputData(modelData)" [formControl]="inputCtrl"
      autocomplete="false" autocomplete="off"
      name="name-{{customCaption || meta?.scL_Caption || meta?.scL_DefaultCaption || lableName}}">
    <!-- <mat-error *ngIf="options.get('fontSize')?.invalid">Min size: 10px</mat-error>
     [disabled]="(disabled===true || disabled===false)? disabled : meta?.scL_ReadOnly" -->
  </mat-form-field>
</div>
