.general-stripped-seperator{
    padding: 10px 0px 10px;
    border-top: 1px dashed #e1e1e1;
    border-bottom: 1px dashed #e1e1e1;
}
.dps-radio-btn{
    padding: 10px 0px;
}
.input-section.seperator{ 
    padding-bottom: 10px;
}