<div class="cdk-overlay-container">
  <div class="cdk-global-overlay-wrapper dps-overlay-wrapper" fxlayout="column">
    <div class="cdk-overlay-backdrop cdk-overlay-dark-backdrop cdk-overlay-backdrop-showing"></div>
    <div class="cdk-overlay-pane">
      <div tabindex="0" class="cdk-visually-hidden cdk-focus-trap-anchor"></div>
      <div class="mat-dialog-container dps-white-gray-scroll">
        <router-outlet></router-outlet>
      </div>
      <div tabindex="0" class="cdk-visually-hidden cdk-focus-trap-anchor"></div>
    </div>
  </div>
</div>