.mat-dialog-actions {
  text-align: right;
}

.header-detail {
  border-bottom: 1px solid #d8d6d6;
}

.notification-body {
  /* display: table-cell; */
  display: block;
  min-height: auto;
  padding: 20px;
  font-size: 12px;
}
