@import '~styles/variables.scss';
.dps-screen-contact-layout {
  // height: 400px;
  height: 100%;
  mat-toolbar {
    background: $primary;
  }
}

.footer-shadow {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 -1px 6px rgba(0, 0, 0, 0.16);
  z-index: 2;
}
