@import '~styles/variables.scss';

.dps-team-mnth-table {
  ::ng-deep .mat-calendar-table-header th {
    padding: 8px 0 8px 20px;
    text-align: left;
  }

  ::ng-deep .mat-calendar-body-cell {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: 50px;
    // border: 1px solid red;
    width: 50px !important;
    line-height: 0px;
    position: relative;

    & :hover {
      background-color: #2f7ec1;
      opacity: .9;
    }
  }

  ::ng-deep .mat-calendar-body-cell-content {
    height: 45px;
    width: 45px;
  }

  ::ng-deep .mat-calendar-body-label {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}


::ng-deep .special-date {
  ::ng-deep .mat-calendar-body-cell-content {
    background-color: #2f7ec1 !important;
    color: #fff;
  }
}

mat-icon.dps-round-icons {

  padding: 11px !important;
  width: 15px !important;
  height: 15px !important;
  font-size: 15px !important;
  // color: #ecf8ff;
  // background: #58616738;
  border-radius: 100%;
}

.dps-round-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: calc(100% - 50px);
  padding-left: 5px;
}

mat-list {
  padding-top: 0px;
}


.dps-activity-content {
  padding: 8px 8px 8px 2em;
  background: #e4f1f9;
  font-size: 12px;
  color: #616e87;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffffa6;
}
.dps-activity-list{
  height: calc(100% - 35px);
  overflow-y: auto;
}
mat-list-item {
  display: flex;
  flex-direction: column;
}


.primary-header {
  color: #fff;
  padding: 10px;
}
