@import '~styles/variables.scss';

.drive-listview {
  dps-drive-context-menue {
    position: fixed;
  }

  height: 100%;
  // padding: 10px 5px 0px 10px;
  font-size: 12px;
  line-height: 32px; // padding-left: 7px;
  cursor: pointer;

  mat-icon {
    vertical-align: middle;
    font-size: $primary-font-size + 6;
    color: #155186;

    .fa-envelope-o {
      font-size: 17px;
    }

  }

  .fa-file-text {
    color: #8028b0;
  }

  mat-list {
    width: 100%;
    padding-top: 0px;


    .folder-list-view,
    .type-list-view {
      border-bottom: 1px solid #efefef;
      padding: 2px 0px 2px 6px;
      font-weight: 500;


      &:hover {
        background-color: #ddefff;
        box-shadow: inset 1px 1px #b7daf9, 1px 1px #b7daf9;
        // border: 1px solid #b7daf9;
      }


      i {
        font-size: $primary-font-size + 6;
      }

      span.name {
        padding-left: 5px;
      }
    }


  }

  #dragPreView {
    background: #658db1;
    padding: 3px 9px 3px;
    -webkit-box-shadow: 2px -1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px -1px 5px 0px #51677b;
    border: 1px solid #658db1;
    border-radius: 3px;
    max-width: 95px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    z-index: -100;

    mat-icon {
      color: #1161ab;
      border-right: 1px solid #4979;
      vertical-align: middle;
    }

    span.name {
      color: #1d3b54;
      font-size: 13px;
      padding-left: 2px;
    }
  }

  .dps-load-more {
    width: 100%;

    span {
      text-align: center;
      width: 100%;
    }

  }
}
