@import '../../styles/time-information-layout.scss';

.filter-set-02 {
  height: 53px;
}

.search-work-done-st {
  margin-left: 20px;
}

.next-hearing-date {
  margin-left: 20px;
}

.police-station-search {
  .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}


.attendees {

  label {
    margin-right: 10px;
    color: $primary-blue;
  }

  .work-done {
    margin-right: 10px;
    font-size: $primary-font-size - 1;

    ::ng-deep .mat-form-field-label {
      display: none;
    }

  }

  .attendees-nos {
    border: 2px solid $primary-blue;
    padding: 2px 4px 3px 3px;
    font-size: 11px;
    text-align: center;
    border-radius: 4px;
    margin-right: 7px;
    font-weight: bold;
    vertical-align: middle;
  }

  .attendees-add {
    font-size: 12px;
    cursor: pointer;
    color: #0079c4;
    border: 2px solid #539bca;
    padding: 5px 0px 0px 4px;
    height: 12px;
    width: 13px;
    line-height: 9px;
    background: #bbe1ff;
    vertical-align: middle;
    margin-top: 5px;
    border-radius: 100%;
  }

.added-attendees
{
  mat-chip
  {
    padding: 8px 4px 8px 8px;
    font-size: 12px;
    min-height: 24px;
    color: #fff;
    background: #0178c4;
    letter-spacing: 1px;
    margin: 7px 10px 0 0px;
  }
  mat-icon
  {
    margin-left: 4px;
  }
}
  mat-datepicker-toggle {

    ::ng-deep .mat-datepicker-toggle-default-icon {
      width: 16px;
    }
  }

}


.attendance-note-txt {
  font-size: $primary-font-size - 2;
}

