.dpa-mat-line{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.active{
    background: #b5eaff;
   }
//    .dps-selected-row:hover{
//     background: #b5eaff;
//    }
  