@import '~styles/variables.scss';
.label-componenent-wrap
{
    position: relative;
    overflow: hidden;
    background: #7fb0d5;
}

input
{
    float: right;
    padding: 2px;
    border: 0;
    font-size: $secondary-font-size;
    height: 14px !important;
    border: 1px solid #809cc5;
    // text-align: right;
}

.var 
{
    padding: 2px 4px;
    min-height: 9px;
    font-size: 9px;
    position: absolute;
    top: 2px;
    font-family: $primary-font-stack;
    text-align: center;
    z-index: 1;
    background: #f7f3e8;
    color: #4e3900;
    border-radius: 2px;
    border: 1px solid #b1ab8f;
    right: 2px;
}


.file-attachment-btn
{
    min-width: 25px;
    height: 18px;
    padding: 0 0 0 1px;
    line-height: 10px;
    float: right;
    margin-top: 1px;
    border-radius: 0;
}
.file-attachment-btn .mat-button-wrapper
{
    margin-top: -1px;
    float: right;
}
.file-attachment-btn:hover
{
  color: sandybrown;
  cursor: pointer;
}
.file-attachment-btn .mat-icon
{
    font-size: 17px;
    margin-top: 1px;

}

.attachment-done-status{
    background: #83c35c;

    .attach-icon{
        width: 17px !important;
    }
    .done-status{
        font-size: 11px;
        position: relative;
        width: 0px !important;
        right: 7px;
        color: #f8fff4;
    }
}