<div fxLayout="column" class="dps-grid-content">
    <div fxFlex="calc(100%-50px)" fxLayout="column" class="dps-white-gray-scroll dps-grid-scroll" >
      <div fxLayout="column" class="dps-white-gray-scroll dps-grid">
        <div class="dps-grid-controller" fxLayout="column" >
          <div class="row-highlight" dpsIsMobile>
            <div class="dps-columnheader">
              <dps-column-header *ngFor="let header of eChitGridData?.gridColumns" [fxFlex]="header.extras.fxFlex" [def]="header" [filterAnchor]="header.extras.filterAnchor">
              </dps-column-header>
            </div>
          </div>
          <div fxLayout="column" fxFlex="calc(100%-40px)"  class="dps-white-gray-scroll grid-scroll">
            <mat-nav-list>
              <div *ngFor="let item of eChitGridData?.data;let isOdd=odd; let isEven=even" [ngClass]="item == selectRow?'dps-selected-row':isOdd?'dps_row_separation-0':'dps_row_separation-1'"
                (click)="onSelectRow(item)">
                <mat-list-item disableRipple class="dps-grid-list-item">
                  <div fxLayout class="grid-data" >
                    <div class="row-data mat_line" [fxFlex]="getFxFlexProperty(0)" innerHTML="{{item.type}}"></div>
                    <div class="row-data mat_line" [fxFlex]="getFxFlexProperty(1)" innerHTML="{{item.date}}"></div>  
                    <div class="row-data mat_line" [fxFlex]="getFxFlexProperty(2)" innerHTML="{{item.ref}}"></div>
                    <div class="row-data" [fxFlex]="getFxFlexProperty(3)" innerHTML="{{item.reason}}"></div>
                    <div class="row-data mat_line debit" [fxFlex]="getFxFlexProperty(4)" innerHTML="{{item.net | number : '1.2-2'}}"></div>
                    <div class="row-data mat_line credit" [fxFlex]="getFxFlexProperty(5)" innerHTML="{{item.vat | number : '1.2-2'}}"></div>
                    <div class="row-data mat_line balance" [fxFlex]="getFxFlexProperty(6)" innerHTML="{{item.gross | number : '1.2-2'}}"></div>
                    <div class="row-data mat_line" [fxFlex]="getFxFlexProperty(7)" innerHTML="{{item.fee_Earner}}"></div>  
                    <div class="row-data mat_line" [fxFlex]="getFxFlexProperty(8)" innerHTML="{{item.payee}}"></div>
                    <div class="row-data dps_task_action" [fxFlex]="getFxFlexProperty(9)">
                        <mat-checkbox [checked]="item?.authorised" disabled></mat-checkbox>
                      </div>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>
            </mat-nav-list>
          </div>
        </div>
      </div>
    </div>
  </div>