<div fxLayout="row" class="grid-sub-button-container">
  <div class="dps-matter-grid-button" (click)="OnOpenCaseClick()" fxLayout="column"
    *ngIf="moduleIsActive(module.Matter) | async">
    <button mat-icon-button>
      <mat-icon>folder</mat-icon>
    </button>
    <span *ngIf="!(getSettingValue(settingKey.IsPlotUser) | async)">Open Case</span>
    <span *ngIf="(getSettingValue(settingKey.IsPlotUser) | async)">Open Plot</span>
  </div>
  <div class="dps-matter-grid-button" (click)="OnTimeRecordingClick()" fxLayout="column"
    *ngIf="(moduleIsActive(module.TimeRecorded) | async) && !selectedMatterData?.data?.isProspectMatter">
    <button mat-icon-button>
      <mat-icon>alarm_add</mat-icon>
    </button>
    <span>Record Time</span>
  </div>
  <div class="dps-matter-grid-button" (click)="OnNewMailClick()" fxLayout="column">
    <button mat-icon-button>
      <mat-icon>email</mat-icon>
    </button>
    <span>New Mail</span>
  </div>
  <div class="dps-matter-grid-button" (click)="OnLedgerCardClick()" fxLayout="column"
    *ngIf="(moduleIsActive(module.LedgerCard) | async) &&  !selectedMatterData?.data?.isProspectMatter">
    <button mat-icon-button>
      <mat-icon>credit_card</mat-icon>
    </button>
    <span>Ledger Card</span>
  </div>
  <div class="dps-matter-grid-button" (click)="onEChitClick()" fxLayout="column"
    *ngIf="(moduleIsActive(module.ChequeRequest) | async) &&  !selectedMatterData?.data?.isProspectMatter">
    <button mat-icon-button>
      <mat-icon>library_books</mat-icon>
    </button>
    <span>eChit</span>
  </div>
  <div class="dps-matter-grid-button" (click)="onMatterCreationClick()" fxLayout="column"
    *ngIf="moduleIsActive(module.Matter) | async">
    <button mat-icon-button>
      <mat-icon>library_add</mat-icon>
    </button>
    <span>{{addMatterLable}}</span>
  </div>
</div>
