.general-loader-light
{
   height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #61ace0 url(dps-loader-dark-2.gif) no-repeat center center;
    z-index: 10;
   background-size: 65px;
   opacity: 0.8;
}