@import '~styles/variables.scss';
.save{
    background: #397d3f;
    color: $primary;
    border: 0;
    border-radius: 4px;
    font-size: 12px;
}
.ov-list-input
{
    font-size: 12px;
    width: 100%;
}