@import '~styles/variables.scss';

.mail-preview {
  height: 100%;
  overflow: auto;
}

mat-toolbar,
mat-toolbar-row {
  min-height: 42px !important;
  height: 42px;
}

.dps-msg-viewer-header {
  background: #1c2c39;
  color: #dfeaff;
  font-size: $primary-font-size + 2;
  height: 50px;

  .dps-header {
    mat-icon {
      vertical-align: sub;
      padding-right: 8px;
      // border-radius: 100%;
      // border: 2px solid #859ece;
      // padding: 5px;
      // color: #a9c6fd;
    }
  }
}

mat-dialog-content {
  height: calc(100% - 55px);
}

.mat-dialog-content {
  max-height: unset
}
