.dps-epmty-widget-item {
  border-bottom: 1px solid #aac5d6;

  .content {
    width: 100%;
  }

  .dps-empty-line {
    border: 3px solid #afcde2;
    width: 25%;
    border-radius: 1px;
    margin: 4px 0px;
  }

  .dps-empty-line-btm {
    border: 3px solid #afcde2;
    width: 50%;
    border-radius: 1px;
    margin: 4px 0px;
  }
}
