@import '~styles/variables.scss';
.label-componenent-wrap {
  position: relative;
  overflow: hidden;
  background: #7fb0d5;
  .dps-clear-both {
    clear: both;
  }
}

input {
  float: left;
  padding: 2px;
  font-size: $secondary-font-size;
  height: 10pt !important;
  border: 1px solid #809cc5;
  border-right: 0;
  margin-top: 0px;
  outline: none;
  font-family: arial;
}

mat-datepicker-toggle {
  float: left;
  line-height: 15px;
  height: 13pt;
  background: white;
  margin-top: 0px;
  border: 1px solid #7190bf;
  border-left: 0;
  width: 19px;
  color: #486794;
}

.var {
  padding: 2px 4px 1px 4px;
  min-height: 9px;
  font-size: 9px;
  position: absolute;
  font-family: $primary-font-stack;
  text-align: center;
  z-index: 1;
  background: #f7f3e8;
  color: #4e3900;
  border-radius: 2px;
  border: 1px solid #b1ab8f;
  right: 2px;
  top: 2px;
}
