.dps-meeting-accept-btn mat-icon{
    color: #68A490;
}
.dps-meeting-tentative-btn mat-icon{
    color: #976CBE;
}
.dps-meeting-decline-btn mat-icon{
    color: #D82300;
}
.dps-menu-item{
    height: 40px; 
    line-height: 40px; 
    font-size: 12px;
}
.btn-accept-event{
    color: #116FA0;
}