$primary:#fff;
$black:#000;
$gray: #575757;
$secondary:#1565c0;
$primary-blue:#0079c4;
$primary-orange:#ff8f00;
;
$primary-blue-dark:#004774;
$primary-blue-light:#bbe1ff;
$content-background:#f4f4f4;
$toolbar-title:#fafbfb;
$toolbar-background:#397bc7;
$primary-font-size:14px;
$secondary-font-size:11px;
$primary-font-stack:Roboto,
"Helvetica Neue",
sans-serif;

$dashboard-primary:#1f222b;
$team-efficiency-primary:#795f98;
$mail-primary:#3184da;
$header-primary:#224079;
$dps-primary-view:#32434d;
$dps-popup-matbar:#1c2c39;
$dps-team-primary:#087bc4;
$dps-dictation-primary:#C79346;
$dps-safe-box-primary:#0d599c;

/* client/matter primary color*/

$client-search-primary:#008dca;
$matter-search-primaty:#037753;
$my-task-primary:#d4ab45;
$workdone-primary:#12a3b1;
$time-record-primary:#d88c56;
$dps-contacts-primary:#01648e;
$ledger-card-primary:#3091d2;
$slider-background-color: rgb(200, 200, 200) !default;
$global-search-primary:#5e87ca;
$post-office-primary:#a25c5c;

$calender-primary:#094369;
$safebox-primary:#0d599c;
$calender-secondary:#0c0323;
$calender-boder:#777777;
$calender-bck:#8a8a8a;
$calender-bck-color:#dcdcdc;
$calender-bck-option:#094369;
$calender-form-ripple:#53a7f9;
$workdone-secondary:#0b919e;
$calendar-back-palet-i:#a6d1f5;
$calendar-back-palet-ii:#4adacc;
$calendar-back-palet-iii:#87d28e;
$calendar-back-palet-iv:#c0c0c0;
$calendar-back-palet-v:#f88c9b;
$calendar-back-palet-vi:#f08cc0;
$calendar-back-palet-vii:#cba287;
$calendar-back-palet-iix:#fcab73;
$calendar-back-palet-ix:#f4d07a;
$calendar-day-busy:#b84f66;
$calendar-day-free:#058cd7;
$calendar-day-tentative:#7e3672;
$calendar-day-oof:#ecb521;
$calendar-day-workingElsewhere:#399641;
$calendar-day-unknown:#d3b21d;

$calendar-event-btn:#116FA0;
$calendar-accept-btn:#7fc5ae;
$calendar-tentative-btn:#b89cd2;
$calendar-decline-btn:#b58981;
$calendar-remove-btn:#c57d7d;
$calendar-open-series:#73b8ef;
$calendar-open-toolbar:#e8f6ff;
$dps-grid-padding:6px 6px 0px;
$dsp-ledgaer-card:#448bc3;
$sky-blue:#bfe3f1;
$workflow-action-btn:#416084;
$content-header-bar: #448bc3;
$crime-sencondary: #448bc3;
$primary-nav-back:#1d2c38;


// color theam for time line

$dps-user-movment-item-1:#147ca8;
$dps-user-movment-item-2:#af6709;
$dps-user-movment-item-3:#105281;
$dps-user-movment-item-4:#f59e8e;
$dps-user-movment-item-5:#486b00;
$dps-user-movment-item-6:#6e5789;
$dps-user-movment-item-7:#c3874d;
$dps-user-movment-item-8:#c20b14;
$dps-user-movment-item-9:#0d9435;
$dps-user-movment-item-10:#486b00;
;
$dps-non-allocated-time-11:#888888;

$signIn-for-work:#147ca8;
$signOut-from-work:#bd591b;
$in-meeting:#105281;
$at-lunch:#f59e8e;
$training:#486b00;
$travelling:#6e5789;
$sick:#f1b881;
$holiday:#c20b14;
$insert_drive_file: #888888;


$primary-save-button-bg: #5d8e19;

$dps-grid-header-secondary:#32434D;
$dps-btn-color:#D99D10;
$dps-btn-text-color:#F9F2DD;
$primary-form-font-size:12px;

$shuttle-gray:#56646C;
$clementine : #ea6703;