.bar-fill {
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(92, 172, 240, 1) 0%, rgba(92, 172, 240, 1) 62%, rgba(118, 54, 155, 1) 74%, rgba(255, 26, 19, 1) 100%);
  position: relative;
  height: 2px;
  padding-top: 3px;


    .bar-pointer 
    {
      position: absolute;
      left: 0;
      opacity: 0.8;
      font-size: 12px;
      font-weight: bold;
      color: #013a5d;


  }

  .bar-pointer.total
  {
    top: -4px;
  }
  .bar-pointer.limit
  {
    top: -15px;
  }

  .bar-pointer.value
  {
    display: block;
    clear: both;
    font-size: 12px;
    color: #014e80;
    font-weight: bold;
    border-radius: 3px;
    padding: 1px 3px;
    background: #c8ddec;
    height: 14px;
  }

}

.bar-pointer.limit
{
  .pointer
  {
    width: 13px;
    height: 2px;
    display: block;
    margin: 0 auto 6px;
    color: #c8ddec;
    position: relative;
    top: -4px;
    font-size: 9px;
  }
} 

.bar-pointer.total
{
  .pointer
  {
    width: 8px;
    height: 8px;
    background: #2c8cdc;
    border-radius: 100%;
    box-shadow: 0px 1px 5px #8a8686;
    border: 2px solid #fff;
    display: block;
    // margin: 0 auto 2px;
  }

} 