<mat-form-field class="dps-client-search" floatLabel="never">
    <span matPrefix (click)="OnSearchTextClear($event)" >&nbsp;&nbsp;</span>
    <input type="search" autofocus matInput #searchTextInput matInput [placeholder]="isClientSearchPopup?'Search':'Search (min 3 characters)'" [value]="searchText" 
    [formControl]="inputCtrl" id="client-search-input" (keydown)="onKeydownSearchText($event)"/>
    <button matSuffix mat-icon-button  (click)="OnSearchTextClick(searchTextInput.value)" >
      <mat-icon>search</mat-icon>
    </button>
    <mat-hint *ngIf="showSearchHint">
        <span matPrefix>&nbsp;&nbsp;</span>
      <span class="search-number">{{totalItems}}</span>
      <span>{{clientLabel}} found for</span>
      <span innerHTML="{{searchTextInput.value | seacrhTextHighligh : searchText}}"></span>
    </mat-hint>
  </mat-form-field>
