

@import '~styles/variables.scss';

.forms-library-folder-container {
  height: 100%;
}

mat-sidenav.workflow-menu-main-layout {
  width: 420px;
}

div.workflow-menu-container {
  height: 100%;

  .dps-view-controller {
    background-color: #32434d;
  }


}

.workflow-controller {

  width: 100%;

  mat-list {
    display: flex;
    width: 100%;
    padding-top: 0px;
  }

  mat-list-item.menu-tree {
    width: 350px;
    height: 40px;
  }

  .column-header {
    width: 350px;
    height: 40px;
  }
}

.workflow-controller-wrapper {
  height: 518px;

}

.dps-workflow-menu-tree-container
{
  width: 350px;
  height: 100%;
  overflow: auto;
}
.dps-workflow-menu-details-container
{
  width: 450px;
  height: 100%;

}
.dps-white-gray-scroll::-webkit-scrollbar-thumb,
.mat-menu-panel::-webkit-scrollbar-thumb,
.fc-scroller::-webkit-scrollbar-thumb,
.mat-select-panel::-webkit-scrollbar-thumb,
.mat-autocomplete-panel::-webkit-scrollbar-thumb,
.mat-dialog-container::-webkit-scrollbar-thumb,
.time-information-content .mat-tab-body-content::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0);
}

.dps-scroll {
  overflow-y: scroll;
  height: calc(100% - 40px);
  padding-left: 5px;
}

.fa {
  color: $primary;
}

mat-icon.dpspath_icon {
  color: $primary;
}



.row-highlight {
  background-color: $primary;
  box-shadow: 0 2px 6px rgba(99, 93, 93, 0.16), 0 3px 6px rgba(232, 203, 203, 0.16);
  z-index: 2;
  height: 40px;
  width: 100%;
}

.dps-workflow-menu {
  height: 100%;
}

.dps-workflow-menu-tree {
  padding: 0px 0px;
  border-right: 1px solid #c3c3ca;
}

.column-header.menu-tree {
  border-right: 1px solid #c3c3ca;
}

.row-highlight {
  display: flex;
}

.dps-workflow-menu-details {
  width: calc(70% + 15px);
}

.dps-workflow-menu-details.dps-is-mobile {
  width: 70%;
}

.column-header {
  vertical-align: middle;
  font-size: $primary-font-size - 1;
  font-weight: 600;
}

.column-header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 14px 16px;
  position: relative;
  height: inherit;
  margin: 0px 0px;
}

.description {
  width: calc(100% - 180px);
  height: unset;
  font-size: $primary-font-size - 2;
  height: 40px;
}

.date-done {
  width: 90px;

  font-size: $primary-font-size - 2;
}

.done-by {
  width: 90px;

  font-size: $primary-font-size - 2;
}


.command-test {
  position: absolute;
  right: 5em;
  top: 1px;
  font-weight: 600;
  font-size: $primary-font-size - 2;
  color: #000;
}

.dps_wrkflow_path {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: $primary-font-size - 2;
}

.dps_wrkflow_path span {
  padding: 3px 3px 0px 0px;
  cursor: pointer;
}

.dps-date-done-header {
  font-weight: 600;
  font-size: $primary-font-size - 2;
  color: #000;
  height: 40px;
}



mat-list-item.dps_wrkflowpath_header {
  height: 46px;
}

mat-list.dps_path {
  padding: 4px;
}

.dps_wrkflow_path mat-icon {
  font-size: 20px;
  cursor: pointer;

}

dps-workflow-menu-view {
  padding-left: 5px;
  display: block;
}

.dps_folder {
  font-size: 20px;
  color: #fff;
}

.backward-path.btn {
  margin: 0px -18px 0px 0;
}

.forward-path.btn {
  margin-top: -1px;
}

.dps-workflowmenu-edit-content {
  height: calc(100% - 60px);

  mat-list {
    display: flex;
    width: 100%;
  }
}

.dps-is-mobile .dps-workflowmenu-edit-content {
  height: 100%;
}

.dps-is-mobile .workflowmenu-edit-font-controller {
  display: none !important;
}

.row-data {
  padding: 0px 0px 0px;
  line-height: unset;
}

.backward-path mat-icon,
.forward-path mat-icon,
.dps_path_icons {
  color: $primary;
  cursor: pointer;
  font-size: $primary-font-size + 6;
}

.backward-path mat-icon:hover,
.forward-path mat-icon:hover {
  background: #1ca9e2;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

div.dps_folder_name span {
  padding: 12px 0 0 0;
  font-size: $primary-font-size - 1;
  color: #fff;
  cursor: pointer;
}

.dpspath_icon {
  font-size: $primary-font-size + 2 !important;
}

.dps_folder_name {
  margin: 0px 12px 0px -15px;
}

button.backward-path.btn[disabled] mat-icon,
button.forward-path.btn[disabled] mat-icon {
  color: rgb(136, 136, 136) !important
}

.workflowmenu-edit-font-controller {
  background-color: #3c4349;
  padding: 12px;
}

.dps-workflow-menu {
  width: 100%;
}

.dps-folder-description-item-header {
  width: calc(30% + 5px);
  border-right: 1px solid #c3c3ca;
}

.dps-folder-list-item-header {
  width: 70%;
}

@media only screen and (min-width: 1366px) and (max-height: 768px) {
  .dps-folder-description-item-header {
    width: 50%;
  }

  .dps-folder-list-item-header {
    width: 50%;
  }
}

.search-filter-applied
{


  height: 100%;
  border-radius: 0;
  font-size: $primary-font-size - 1;
  background: rgb(199,226,255);
  background: #7cbce6cf;
  background: linear-gradient(120deg, rgb(129, 178, 230) 0%, white 100%);
  
  span 
  {
    display: block;
    text-align: center;

    label
    {
      color: #0c65b3;
    }
  }
}

.path
{
  font-size: 11px;
  border-top:1px dashed #80addc;
  margin-top: 15px;
  padding-top: 10px;
  width: 100%;
  display: block;

  label
  {
    display: block;
    padding-top: 3px;
    text-align: center;
    font-style: italic;
    overflow-x: auto;
    width: 300px;
    margin: 0 auto;
    font-size: 13px;
}
}