.grid-data {
  width: 100%;
}

mat-list {
  padding: 0px 0px;
}

.dps-selected-row,
.dps-selected-row:hover {
  background: #f1ca6e;
}

.expansion-panelgrid-header {
  height: auto !important;
}

.dps-clmn-main-group {

  padding-top: 4px;

  ::ng-deep .mat-list-item-content {
    width: 100%;
  }

  .tittle {
    background: #bdecf3;
    width: 100%;
    cursor: pointer;

    mat-icon {
      color: #614c19;
      margin-top: 4px;

    }
  }
}

 
  .dps-clmn-main-group {
    ::ng-deep .mat-list-item-content {
      padding: 0px 0px !important;
    }
    padding: 0px 8px;
    background: #bdecf3;
    width: 100%;
    cursor: pointer;
    border: 1px solid #aad6dc;
    color: #2e5f80;
   
     &:hover {
      opacity: .9;
    }
  }

// .dps-clmn-main-group {
    
//     padding-top: 4px;
//    ::ng-deep .mat-list-item-content{
//         width:100%;
//     }
//     .tittle {
//       background: #bdecf3;
//       width:100%;
//       cursor: pointer;
//       mat-icon{
//           color: #614c19;
//           margin-top: 4px;

//       }
//     }
//   }
  .dps-clmn-main-group{
      ::ng-deep .mat-list-item-content{
        padding: 0px 0px !important;
      }
    }
    .my-task-expanded-row{
      margin-left: 30px !important;
    }
    .dps-load-more {
      &:hover {
        opacity: .9;
      }
      background: #d0ecd0;
      color: #043304;
      font-weight: 600;
      margin: 0px 0px 0px 0px;
      width: 100%;
    }
    