<div class="safebox-title-view" fxLayout="column">
  <div fxLayout="row" class="dps-title-view">
    <div [title]="item.name" *ngFor="let item of treeNodeItem?.nodes"
      [ngClass]="selectedFolder === item.prefix?'dps-folder-select':''" (dblclick)="expand(item)"
      (dpsClick)="selectFolder(item)" class="dps-titleview" dpsFileDroppable dpsDroppable
      (onDrop)="onDrop($event, item)" dropZone="safeBoxDragFolder"
      (contextmenu)="contextmenuFolderOpen($event,safeboxContextFolderMenue,item)">
      <div class="folder-list-view">
        <mat-icon>folder</mat-icon>
        <div class="file-info">
          <p class="dps-file-name">{{item?.name}}</p>
          <p>Folder</p>
          <p></p>
        </div>
      </div>
      <dps-safebox-context-menue #safeboxContextFolderMenue [id]="item?.prefix"
        [isMultiSelect]="selectedBlobData?.length>1" [copyItems]="copyItems" [isFolder]="true" (paste)="onPaste(item)">
      </dps-safebox-context-menue>
    </div>


    <div (contextmenu)="contextmenuOpen($event,safeboxContextMenue,blob)" [title]="blob.displayName"
      *ngFor="let blob of treeNodeItem?.data?.Blobs?.Blob" (click)="onSelectedBlob($event,blob)" class="dps-titleview"
      [ngClass]="{'dps-file-select':isSelected(blob,selectedBlobData),'dps-cut-file':isCutItem(blob)}"
      [dpsDraggable]="true" [dragData]="blob" [dragElement]="dragElement" dragDataType="safeBoxFile"
      [dropZones]="['safeBoxDragFolder']" (onDragStart)="onDragStart($event, blob)">
      <div class="folder-list-view">
        <dps-safebox-context-menue #safeboxContextMenue [id]="blob?.Name" [isMultiSelect]="selectedBlobData?.length>1"
          [copyItems]="copyItems" (cut)="onCut()" (copy)="onCopy()" (download)="onDownloadFile()"
          (share)="onShareFile()" (delete)="onDeleteFile()" (rename)="onRenameFile()">
        </dps-safebox-context-menue>
        <mat-icon mat-list-icon>
          <i [ngClass]="blob.displayName | attachmentIcon" aria-hidden="true">
            <span></span>
          </i>
        </mat-icon>
        <div class="file-info">
          <p class="dps-file-name">{{blob.displayName}}</p>
          <p>{{blob?.displayName | attachmentIcon:'type' | titlecase }} File</p>
          <p>{{blob?.Properties['Content-Length'] | attachmentsSize }}</p>
        </div>

      </div>

    </div>
  </div>

  <div id="dragPreView">
    <div *ngIf="selectedBlobData?.length > 1">
      <mat-icon class="mat-18">file_copy</mat-icon>
      <span class="name">{{selectedBlobData?.length}}</span>
    </div>
    <span *ngIf="selectedBlobData?.length === 1">
      <i [ngClass]="selectedBlobData[0]?.Name | attachmentIcon"><span></span></i>
      <span class="name">{{selectedBlobData[0]?.Name}}</span>
    </span>
  </div>

</div>
