<div *ngFor="let group1 of fileHistorData?.groupData ; let row = index">
  <mat-list dense>
    <mat-list-item class="dps-clmn-main-group" fxLayout="row" [ngClass]="{cssClass: group1.isExpand}"
      (click)="onGroupRowChange(group1)">
      <i class="material-icons arrow-right-down-btn">
        {{group1?.isExpand?'keyboard_arrow_down':'keyboard_arrow_right'}}
      </i>
      <h3> <i class="material-icons indicator" style=vertical-align:middle;>{{group1.groupMode | groupIconByMode}} </i>
        {{group1.data.value}} ({{group1.data.count}}) </h3>
    </mat-list-item>
  </mat-list>
  <!-- <button [ngClass]="{cssClass: group1.isExpand}" (click)="onGroupRowChange(group1)"> getdata </button> -->

  <div class="" *ngIf="group1.isExpand">
    <div class="dps-clmn-group-section"
      *ngFor="let item of getFilehistoryDataGroupIds(group1.groupHash); let row = index">
      <div class="dps-case-file-grid-row mat-elevation-z" [ngClass]="item.data.type | colorByFileType">
        <dps-file-history-fix-row (moveSelectedFolder)="onMoveSelectedFolder($event)" [folderList]="folderList"
          (click)="onExpand(item , $event)" fxFlex="" (onDeleteRow)="deleteRow($event)" (onEditRow)="editRow($event)"
          (onCheckedRow)="checkedRow($event)" (signDoc)="onSignDoc($event)" (xdraftItem)="onXdraftItem($event)"
          (newVersion)="onNewVersion($event)" (share)="onShare($event)" [columnDef]="columnDef" [rowData]="item"
          [deleteEntrySecurityInfo]="deleteEntrySecurityInfo" [checkedItems]="checkedItems"
          [isDocumentVersioning]="isDocumentVersioning" [isMuiltySelect]="isMuiltySelect" [matterInfo]="matterInfo"
          (onCheckin)="doCheckin($event)" (onDiscardCheckin)="doDiscardCheckin($event)">
        </dps-file-history-fix-row>
      </div>
    </div>
    <button class="dps-load-more" mat-flat-button *ngIf="group1.currentItems < group1.totalItems"
      (click)="onLoadMore(group1)">Load
      More</button>
  </div>
</div>
