mat-form-field{
    /* bottom: 5px; */
    width: 86%;
}
mat-form-field .mat-icon-button{
    height: 31px;
    width: 31px;
}
.dps-search-option{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}
.mail-search-button.mat-icon-button{
    width: 30px;
    height: 30px;  
    line-height: 30px;
    color: #0079c4;
}
.mail-search-button .mat-icon{
    font-size: 20px;
}

