<h3>Add Label </h3>
<div class="screen-view-general-popup-body add-label">
    

<mat-form-field class="screen-edit-popup-general-input">
  <input matInput placeholder="Description" [(ngModel)]='ovItem.description'>
</mat-form-field>

<div class="general-buttons-bottom">
    <button mat-raised-button class="mat-elevation-z0" color="primary" tabindex="-1" (click)="onLableAdd(ovItem)">OK</button>
    <button mat-button class="close-pop"  color="warn"   tabindex="-1" (click)="onClose()">Close</button>


</div>



</div>