@import '~styles/variables.scss';

.dps-compose-mail-header {
  padding-top: 0px;
  height: 50px;
  background: $primary;
  border-bottom: 1px solid #e1e1e1;

  button {
    color: #0079c4 !important;
  }

  .dps-mail-exit {
    color: #c73535 !important;
  }

  .dps-send-as {
    font-size: 30px;
    margin-left: -10px;
  }

  .dps-send {
    transform: rotate(-45deg);
    position: absolute;
    top: 14px;
    left: 17px;
    font-size: 22px;
  }

}

.dps-compose-mail-header button {

  margin-right: 12px;
}

.dps-menu-item {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}
