{{theme}}
<dps-theme-anguler7 *ngIf="layout === 1 && theme === Theme.Angular7" [layout]="layout"
[exceptionList]="exceptionList$|async" (dropItem)="onDrop($event)" (removeWidget)="onRemoveWidget($event)"
(showErrorListSidenav)="onShowErrorListSidenav()">

</dps-theme-anguler7>

<dps-theme-classic *ngIf="layout === 1 && theme === Theme.Classic" [layout]="layout"
[exceptionList]="exceptionList$|async" (dropItem)="onDrop($event)" (removeWidget)="onRemoveWidget($event)"
(showErrorListSidenav)="onShowErrorListSidenav()">
</dps-theme-classic>

<!-- <div *ngIf="layout === 1 && (theme$ | async) === Theme.Angular7"
  class="dps-dashboard-main-contentainer dps-dashboard-version_v7 dps-white-gray-scroll" fxLayout="column" dpsDroppable
  (onDrop)="onDrop($event.dragData)" dropZone="widget">
  <div id="cloud"></div>
  <div class="spitfire-dashboard dashboard-inner-wrapper " fxLayout="column">
    <div class="spitfire-dashboard-controller" fxLayout="row">
      <div fxLayout="column" id="dps-dashboard-main-header" class="dps-dashboard-main-header" fxFlex="195px">
        <div class="dashboard-main-header">
        </div>
        <div class="welcome-text">
          <div class="welcome-main">
            <span class="text one">Welcome to</span>
            <span class="text two">Spitfire</span>
          </div>
          <div class="dps-dashboard-secondory">
            <span class="text four cloud">Cloud Based Case Management Application</span>


            <span class="text four case"> </span>
          </div>
        </div>
      </div>


      <div fxLayout="row" class="dps-widget-group-outer dps-white-gray-scroll" style="width: 100%">
        <div fxLayout="row" class="dps-widget-group dps-white-gray-scroll">


          <div class="dps-widget calander-events" fxFlex="1 1 auto"
            *ngIf="(isWidgetActive('calendar') | async ) && !authHelper.isGoogle()">
            <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
            <div class="item-card">
              <dps-calendar-widget-manager (removeWidget)="onRemoveWidget('calendar')" [layout]="layout"
                [theme]="(theme$ | async)">
              </dps-calendar-widget-manager>
            </div>
          </div>
          <div class="dps-widget" fxFlex="1 1 auto" *ngIf="(isWidgetActive('matter_search') | async )">
            <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
            <div mat-elevation-z class="item-card ">
              <dps-matter-widget-manager (removeWidget)="onRemoveWidget('matter_search')" [layout]="layout">
              </dps-matter-widget-manager>
            </div>
          </div>
          <div class="dps-widget" fxFlex="1 1 auto" *ngIf="isWidgetActive('my_tasks') | async ">
            <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
            <div mat-elevation-z class="item-card ">
              <dps-my-task-widget-manager (removeWidget)="onRemoveWidget('my_tasks')" [layout]="layout">
              </dps-my-task-widget-manager>
            </div>
          </div>
          <div class="dps-widget" fxFlex="1 1 auto" *ngIf="isWidgetActive('work_done') | async ">
            <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
            <div mat-elevation-z class="item-card ">
              <dps-work-done-widget-manager (removeWidget)="onRemoveWidget('work_done')" [layout]="layout">
              </dps-work-done-widget-manager>
            </div>
          </div>
          <div class="dps-widget" fxFlex="1 1 auto"
            [hidden]="(mlsWidget.data$|async)?.length<1 || (!(isWidgetActive('mls') | async ))">

            <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
            <div mat-elevation-z class="item-card ">
              <dps-mls-widget-manager #mlsWidget (removeWidget)="onRemoveWidget('mls')" [layout]="layout">
              </dps-mls-widget-manager>
            </div>
          </div>
          <div class="dps-widget" fxFlex="1 1 auto" *ngIf="(isWidgetActive('team_efficiency') | async )">
            <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
            <div class="item-card chart">
              <dps-te-pie-chart-widget-manager (removeWidget)="onRemoveWidget('team_efficiency')">
              </dps-te-pie-chart-widget-manager>
            </div>
          </div>
          <div class="dps-widget" fxFlex="1 1 auto" *ngIf="(isWidgetActive('time_recorded') | async )">
            <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
            <div mat-elevation-z class="item-card">
              <dps-time-recorded-widget-manager (removeWidget)="onRemoveWidget('time_recorded')">
              </dps-time-recorded-widget-manager>
            </div>
          </div>
          <div class="dps-widget" fxFlex="1 1 auto" *ngIf="(isWidgetActive('team_efficiency') | async )">
            <div [style.opacity]="(value/100)" class="dps-back-drop bar-chart"></div>
            <div class="item-card">
              <dps-te-time-recorded-widget-manager (removeWidget)="onRemoveWidget('team_efficiency')">
              </dps-te-time-recorded-widget-manager>
            </div>
          </div>
        </div>


        <div class="mail-section">

          <div class="dps-widget" style="height: 100%;" fxFlex="1 1 auto"
            *ngIf="( isWidgetActive('mail') | async )&& !authHelper.isGoogle()">
            <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
            <div class="item-card">
              <dps-mail-widget-manager (removeWidget)="onRemoveWidget('mail')" [layout]="layout">
              </dps-mail-widget-manager>
            </div>
          </div>

        </div>
      </div>
    </div>
    <footer class="footer-shadow--remove" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="version">
        <span style="color: #487ea7;">Ver {{appConfig.version}} </span> <span>Build {{appConfig.buildVersion}} </span>
        <span> © 2018 DPS Software</span>
      </div>

      <div>
        <div class="text alerts" *ngIf=" ( exceptionList$ | async )?.length  > 0" (click)="onShowErrorListSidenav()">
          <span>
            <i class="material-icons">
              notification_important
            </i>
            <span class="alert-label">{{ ( exceptionList$ | async )?.length }} </span>
          </span>
        </div>
      </div>
    </footer>
  </div>
</div>
<div *ngIf="layout === 1 && (theme$ | async) === Theme.Classic"
  class="dps-dashboard-main-contentainer   dps-dashboard-version_v7  dps-white-gray-scroll" fxLayout="column"
  dpsDroppable (onDrop)="onDrop($event.dragData)" dropZone="widget">
  <div id="awan-4-vimana"></div>
  <div id="cloud"></div>
  <div class="spitfire-dashboard dashboard-inner-wrapper dps-white-gray-scroll" fxLayout="column">
    <div class="spitfire-dashboard-controller" fxLayout="column">
      <div fxLayout="column" id="dps-dashboard-main-header" class="dps-dashboard-main-header" fxFlex="195px">
        <div class="dashboard-main-header">
        </div>
        <div class="welcome-text">
          <div class="welcome-main">
            <span class="text one">Welcome to</span>
            <span class="text two">Spitfire</span>
          </div>
          <div class="dps-dashboard-secondory">
            <span class="text four cloud">Cloud Based Case Management Application</span>


            <span class="text four case"> </span>
          </div>
        </div>
      </div>
      <div fxLayout="row" class="dps-widget-group dps-white-gray-scroll">
        <div class="dps-widget" fxFlex="1 1 auto" *ngIf="(isWidgetActive('mail') | async) && !authHelper.isGoogle()">
          <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
          <div class="item-card">
            <dps-mail-widget-manager (removeWidget)="onRemoveWidget('mail')" [layout]="layout">
            </dps-mail-widget-manager>
          </div>
        </div>
        <div class="dps-widget" fxFlex="1 1 auto"
          *ngIf="(isWidgetActive('calendar') | async ) && !authHelper.isGoogle()">
          <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
          <div class="item-card">
            <dps-calendar-widget-manager (removeWidget)="onRemoveWidget('calendar')" [layout]="layout">
            </dps-calendar-widget-manager>
          </div>
        </div>
        <div class="dps-widget" fxFlex="1 1 auto" *ngIf="(isWidgetActive('matter_search') | async)">
          <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
          <div mat-elevation-z class="item-card ">
            <dps-matter-widget-manager (removeWidget)="onRemoveWidget('matter_search')" [layout]="layout">
            </dps-matter-widget-manager>
          </div>
        </div>
        <div class="dps-widget" fxFlex="1 1 auto" *ngIf="(isWidgetActive('my_tasks')| async)">
          <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
          <div mat-elevation-z class="item-card ">
            <dps-my-task-widget-manager (removeWidget)="onRemoveWidget('my_tasks')" [layout]="layout">
            </dps-my-task-widget-manager>
          </div>
        </div>
        <div class="dps-widget" fxFlex="1 1 auto" *ngIf="(isWidgetActive('work_done')| async)">
          <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
          <div mat-elevation-z class="item-card ">
            <dps-work-done-widget-manager (removeWidget)="onRemoveWidget('work_done')" [layout]="layout">
            </dps-work-done-widget-manager>
          </div>
        </div>
        <div class="dps-widget" fxFlex="1 1 auto" *ngIf="(isWidgetActive('mls')| async)"
          [hidden]="(mlsWidget.data$|async)?.length<1">
          <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
          <div mat-elevation-z class="item-card ">
            <dps-mls-widget-manager #mlsWidget (removeWidget)="onRemoveWidget('mls')" [layout]="layout">
            </dps-mls-widget-manager>
          </div>
        </div>
        <div class="dps-widget" fxFlex="1 1 auto" *ngIf="(isWidgetActive('team_efficiency')| async)">
          <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
          <div class="item-card chart">
            <dps-te-pie-chart-widget-manager (removeWidget)="onRemoveWidget('team_efficiency')">
            </dps-te-pie-chart-widget-manager>
          </div>
        </div>
        <div class="dps-widget" fxFlex="1 1 auto" *ngIf="(isWidgetActive('time_recorded')| async)">
          <div [style.opacity]="(value/100)" class="dps-back-drop"></div>
          <div mat-elevation-z class="item-card">
            <dps-time-recorded-widget-manager (removeWidget)="onRemoveWidget('time_recorded')">
            </dps-time-recorded-widget-manager>
          </div>
        </div>
        <div class="dps-widget dps-bar-chart-widget" fxFlex="1 1 auto"
          *ngIf="(isWidgetActive('team_efficiency')| async)">
          <div [style.opacity]="(value/100)" class="dps-back-drop bar-chart"></div>
          <div class="item-card">
            <dps-te-time-recorded-widget-manager (removeWidget)="onRemoveWidget('team_efficiency')">
            </dps-te-time-recorded-widget-manager>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-toolbar class="footer-shadow" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="version">
      <span>Ver {{appConfig.version}} | </span>
      <span>Build {{appConfig.buildVersion}}</span>
    </div>
    <div class="text Copyright">
      <span class="simble">
        <mat-icon class="mat-18">copyright</mat-icon>
      </span>
      <span>2018 DPS Software</span>
    </div>
    <div>
      <div class="text alerts">
        <span></span>
        <span *ngIf=" ( exceptionList$ | async )?.length  > 0" (click)="onShowErrorListSidenav()">
          <i class="material-icons">
            notification_important
          </i>
          <span class="alert-label">[ {{ ( exceptionList$ | async )?.length }} ] </span>
        </span>
      </div>
    </div>
  </mat-toolbar>
</div>
<div *ngIf="layout === 2" class="dps-widgets_v7 dps-white-gray-scroll" dpsDroppable (onDrop)="onDrop($event.dragData)"
  dropZone="widget" fxLayout="column">
  <div fxLayout="column" [fxFlex]="(mlsWidget.data$|async)?.length>0 ?'1 0 1070px':'1 0 850px'"
    [fxFlex.lt-lg]="(mlsWidget.data$|async)?.length>0 ?'1 0 1670px':'1 0 1370px'"
    [fxFlex.lt-md]="(mlsWidget.data$|async)?.length>0 ?'1 0 2640px':'1 0 2340px'">
    <div fxLayout="row" fxLayout.lt-md="column-reverse" fxFlex.lt-lg="970px" fxFlex.lt-md="1940px">
      <div fxLayout="column" fxFlex="calc(100%-500px)" fxFlex.lt-md="970px" fxFlex.lt-lg="500px"
        fxFlex.lt-xl="calc(50%+250px)">
        <div fxLayout="row wrap" fxLayout.lt-lg="column" fxFlex="450px" fxFlex.lt-lg="970px">
          <div class="dps-calendar-widget" fxFlex.lt-lg="200px" fxFlex.lt-xl="500px" fxFlex="650px">
            <dps-calendar-widget-manager (removeWidget)="onRemoveWidget('calendar')" [layout]="layout">
            </dps-calendar-widget-manager>
          </div>
          <div class="dps-workdone-widget" fxFlex.lt-lg="200px" fxFlex.lt-xl="calc(100%-500px)"
            fxFlex="calc(100%-670px)">
            <dps-work-done-widget-manager (removeWidget)="onRemoveWidget('work_done')" [layout]="layout">
            </dps-work-done-widget-manager>
          </div>
          <div class="dps-matter-widget" fxFlex.lt-lg="270px" fxFlex.lt-xl="500px" fxFlex="650px">
            <dps-matter-widget-manager (removeWidget)="onRemoveWidget('matter_search')" [layout]="layout">
            </dps-matter-widget-manager>
          </div>
          <div class="dps-mytask-widget" fxFlex.lt-lg="300px" fxFlex.lt-xl="calc(100%-500px)" fxFlex="calc(100%-670px)">
            <dps-my-task-widget-manager (removeWidget)="onRemoveWidget('my_tasks')" [layout]="layout">
            </dps-my-task-widget-manager>
          </div>
        </div>
        <div fxLayout="column" fxShow="true" fxHide.lt-lg="true">
          <div class="dps-mls-widget" fxFlex="220px" [hidden]="(mlsWidget.data$|async)?.length<1">

            <dps-mls-widget-manager [layout]="layout" (removeWidget)="onRemoveWidget('mls')"></dps-mls-widget-manager>

          </div>
          <div class="dps-time-recorded-widget first" fxFlex="300px" *ngIf="!media$.isActive('lt-lg')">
            <dps-te-time-recorded-widget-manager (removeWidget)="onRemoveWidget('team_efficiency')">
            </dps-te-time-recorded-widget-manager>
          </div>
        </div>
      </div>


      <div fxLayout="column" fxFlex.lt-md="970px" fxFlex.lt-lg="calc(100%-500px)" fxFlex.lt-xl="calc(50%-250px)"
        fxFlex="500px">
        <div class="dps-email-widgets" [fxFlex]="(mlsWidget.data$|async)?.length>0 ?'670px':'450px'"
          fxFlex.lt-lg="670px">
          <dps-mail-widget-manager (removeWidget)="onRemoveWidget('mail')" [layout]="layout">
          </dps-mail-widget-manager>
        </div>
        <div class="dps-pie-chart-widgets" fxFlex="300px" fxFlex.lt-md="calc(100%-670px)">
          <dps-te-pie-chart-widget-manager (removeWidget)="onRemoveWidget('team_efficiency')">
          </dps-te-pie-chart-widget-manager>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxHide="true" fxShow.lt-lg="true"
      [fxFlex]="(mlsWidget.data$|async)?.length>0 ?'600px':'300px'">
      <div class="dps-mls-widget" fxFlex="300px" [hidden]="(mlsWidget.data$|async)?.length<1">
        <dps-mls-widget-manager #mlsWidget (removeWidget)="onRemoveWidget('mls')" [layout]="layout">
        </dps-mls-widget-manager>
      </div>
      <div class="dps-time-recorded-widget" fxFlex="300px" *ngIf="media$.isActive('lt-lg')">
        <dps-te-time-recorded-widget-manager (removeWidget)="onRemoveWidget('team_efficiency')">
        </dps-te-time-recorded-widget-manager>
      </div>
    </div>
    <span fxFlex="1 1 auto"></span>
    <div fxLayout="column" class="dps-dashboard-footer_v2">
      <mat-divider></mat-divider>
      <div class="dps-footer-content">
        <span fxFlex="1 1 auto"></span>
        <div fxFlexAlign="center" fxLayout="row">
          <div fxLayout="row wrap" class="dps-dashboard-ftr-text-lf">
            <span>Ver {{appConfig.version}} | </span>
            <span>Build {{appConfig.buildVersion}}</span>
          </div>
          <div fxLayout="row wrap" class="dps-dashboard-ftr-text-rt">
            <mat-icon>copyright</mat-icon>
            <span>2018 DPS Software</span>
          </div>
        </div>

        <span fxFlex="1 1 auto"></span>

        <div fxFlexAlign="flex-end">
          <span *ngIf=" ( exceptionList$ | async )?.length  > 0" (click)="onShowErrorListSidenav()"
            class="dps-nortification">
            <i class="material-icons">
              notification_important
            </i>
            <span class="alert-label">[ {{ ( exceptionList$ | async )?.length }} ] </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div> -->



