@import '~styles/variables.scss';

mat-grid-tile {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2),
    0 1px 1px 0 rgba(0, 0, 0, .14),
    0 1px 3px 0 rgba(0, 0, 0, .12);

  &.input-elements {
    mat-form-field {
      width: 94px;
    }

    &.dps-disbursement.input-elements {
      mat-form-field {
        width: 150px;
      }

    }
  }

  .mat-grid-tile-header {
    height: 30px;
    background: #386B98;
  }
}

.mat-tab-body-wrapper {
  height: calc(100% - 9px);
}

.dps-civil-time-recording-popup {
  font-size: 12px;
  overflow-y: auto;

  .dps-grid-indicator-lbl {
    color: #1a6098;
    font-weight: 600;
  }

  &.container {
    background: #cee9f3;
    // height: calc(100% - 47px);
  }

  .dps-primary-section {

    color: #093e6b;
  }

  .outer {
    padding: 10px;
    margin: 5px 5px;
    background: #bedbe6;
  }

  .check-margin {
    margin-top: 14px;
  }

  .dps-card {
    padding: 0px;
    background: #d2dde6;
    padding: 5px;
    position: relative;

    &.top-content {
      border-radius: 0px;
      // padding: 0px;
      margin-bottom: 0px;
    }

    &.dps-value-container {
      input {
        text-align: right;
      }
    }
  }

  h3 {
    font-size: 12px;
    background: #386B98;
    color: #fff;
    padding: 7px;
    font-weight: 500;
    margin: 0px;
    text-align: center;
  }

  .milage-rate {
    padding-left: 5em;
    color: #f71c1c;
    font-weight: unset;
  }

  .dps-card-content-rate-value {
    padding: 10px 10px;
  }
}



.outer {
  padding: 10px;
  margin: 5px 5px;
  background: #fff;
}

mat-card {

  mat-form-field {
    width: 100px;
  }
}


h5 {
  background: #0a6fc5;
  font-size: 12px;
  font-weight: normal;
  margin: -16px;
  text-align: center;
  padding: 5px;
  color: #fff;
}

.input-elements {
  padding: 0px 16px;
  height: 350px;
}

.dps-mat-card-content {
  margin: 25px 0px 0px;
}

.dpsrate-calculation {
  &:nth-child(2) {
    text-align: right;
  }

  &:nth-child(3) {
    text-align: right;
  }
}

.dpsrate-calculation {
  mat-form-field {
    &:nth-child(2) {
      text-align: right;
    }

    &:nth-child(3) {
      text-align: right;
    }
  }
}

.dps-align-right {
  text-align: right;
}

.dps-disbersment-lbl {
  font-size: 10px;
  color: #b5b5b5;
}
