@import '~styles/variables.scss';

.dps-compose-msg-works {
    .dps-compose-msg-type {
        padding: 20px 5px 5px 20px;
        border-top: 1px solid #d4d4d4;

        mat-form-field {
            font-size: 12px;
        }
        .dps-mls-compose-textarea {
            width: 100%;
   }
    button {
    color: #1b67b3;
    }
}



    
}

