.dps-organizer-signature-layout {
  height: 100%;
}

.dps-signature-content {
  overflow: auto;
}

.dps_signature_drag_items_group {
  width: 184px;
  margin: 0px 0px !important;
  border-radius: unset !important;


  &.mat-expanded {
    .dps_signature_drag_items_header:hover {
      background-color: #6684a0;
      opacity: .9;
    }
  }

  ::ng-deep.mat-expansion-indicator {
    color: #ffffff;
  }
}

mat-panel-title {
  color: #ffffff;
}

.dps_signature_drag_items_header {
  background-color: #6684a0 !important;
  font-size: 13px;
  font-weight: 500;
  height: 30px !important;

  &:hover {
    opacity: .9;
  }
}

.dps_signature_drag_item {
  height: 250px;
  overflow-x: hidden;
}

.dps_signature_drag_items_group.dps_show_help {
  border: solid;
  border-style: dashed;
  border-color: #ccb01f;
}

/deep/ .dps_signature_drag_items_group .mat-expansion-panel-body {
  padding: 4px;
}

.dps_action_button {
  background: #dbe0e4;
  align-items: center;
  width: 187px;
  height: 223px;
  justify-content: center;
}

.dps_action_button button {
  margin: 0;

  color: white;
  width: 124px;
}

.dps_signature-creator_button {
  margin: 0;
  color: white;
  width: 181px;
  height: 108px;
  background-color: aliceblue;
}

.dps_signature-creator_button button {
  color: white;
  background-color: #004487;
  margin-top: 29px;
  margin-left: 21px;
  height: 44px;
}

.dps_action_button button:nth-of-type(1) {
  background-color: #004487;
  margin-top: 35px;
}

.dps_action_button button:nth-of-type(2) {
  background-color: #e05d68;
  margin-bottom: 24px;
}

.dps_action_button button:nth-of-type(1):hover {
  background-color: #004477;
  font-size: 15px;
}


.dps_action_button button:nth-of-type(2):hover {
  background-color: #e05d58;
  font-size: 15px;
}

.dps_global_sign_preview {
  height: 194px;
  overflow: auto;
  margin: 8px;
  border: 1px solid #cecece;
  border-radius: 4px;
  width: calc(100% - 209px);
  padding: 10px;
}

.dps_show_help_content {
  position: absolute;
  top: 44%;
  left: 51%;
  margin-top: -50px;
  margin-left: -24px;
  width: 67px;
  height: 100px;
}
