.lbl {

  padding: 8px 8px;
  color: #3d455d;
  font-weight: 500;
}

.value-lbl {
  padding: 8px 0px;
  color: #084b88;
  border-left: 1px solid #82c1d8;
  text-align: right;
}

/* .dps-ledgerCard-balances-color-PaleGreen {
  background: PaleGreen
}

.dps-ledgerCard-balances-color-PaleTurquoise {
  background: PaleTurquoise
}

.dps-ledgerCard-balances-color-LightPink {
  background: LightPink
}

.dps-ledgerCard-balances-color-Red {
  background: Red
} */
