<mat-form-field floatLabel>
    <!-- floatPlaceholder="never" -->
  <span matPrefix>&nbsp;&nbsp;</span>
  <mat-placeholder  class="work-done_selector">Department</mat-placeholder>
  <mat-select (selectionChange)="onChangeDepartment($event)" [ngModel]="selectedDepartment">
    <mat-option>-- None --</mat-option>
    <mat-option *ngFor="let department of departmentList" [value]="department">
      {{department.groupName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<i class="fa fa-refresh" (click)="removeSelectedUser()" *ngIf="selectedInfo?.user && selectedDepartment"></i>
