<!-- <div class="safe-box-content-row" fxLayout="row" fxLayoutAlign="start start">
  <div *ngFor="let item of treeNodeItem?.nodes" (dblclick)="expand(item)" class="safebox-content-row">
    <mat-icon>folder</mat-icon>
      <span>{{item.name}}</span>
  </div>
  <div *ngFor="let blob of treeNodeItem?.data?.Blobs?.Blob"  >
      <dps-safebox-context-menue #safeboxContextMenue [data]="blob" (download)="onDownloadFile($event)" (share)="onShareFile($event)" (delete)="onDeleteFile($event)" (rename)="onRenameFile($event)"> </dps-safebox-context-menue>         
    {{blob.displayName}}
  </div>
</div> -->
