<form novalidate [formGroup]="formGroup" class="test1">

  <mat-tab-group [@.disabled]="true" class="main-tabs-rc ic1 dps-white-gray-scroll"
    (selectedTabChange)="onChangeTap($event)">

    <mat-tab label="Time Record">
      <div class="claim-london-rates" *ngIf="model?.classId < 110 ">
        <mat-form-field class="time-information-input sub">
          <mat-select placeholder="Grade" formControlName="grade">
            <mat-option [value]="item" *ngFor="let item of gradeList"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="clear"></div>
      </div>
      <mat-toolbar fxLayout="row" class="filter-set-02">
        <label>Court Hearing Information</label>
        <mat-form-field class="time-information-input search-work-done-st">
          <input type="search" matInput placeholder="Court" formControlName="court" />
          <button matSuffix mat-icon-button (click)="onOpenCourtLookup()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="time-information-input search-work-done-st" fxFlex="1 1 auto">
          <input type="search" matInput #searchTextInput matInput placeholder="Listed as" formControlName="result" />
          <button matSuffix mat-icon-button (click)="onOpenListedAsLookup()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="time-information-input">
          <input type="text" matInput placeholder="Reason for Travel" formControlName="reason" [maxLength]="40" />
        </mat-form-field>
      </mat-toolbar>

      <div class="time-record-input-panel-container dps-white-gray-scroll">
        <div fxLayout="row" class=" time-record-input-panel-container-inner">
          <mat-card class="time-record-input-panel-left single">
            <h5>Time</h5>
            <div class="body-sub-inputs input-sets">
              <div fxLayout="row" fxLayoutAlign="space-between">
                <span class="time-information-input short">HH:MM Units</span>
                <span class="time-information-input sub-2 values">Rate</span>
                <span class="time-information-input sub-2 values">Value</span>
              </div>

              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field class="time-information-input short">
                  <dps-time-input [mpu]="mpu" [roundedToMPUminute]="true" [resetCount]="resetCount"
                    [parentFormGroup]="formGroup" placeholder="Travelling" [controllerName]="'travel'">
                  </dps-time-input>
                </mat-form-field>
                <mat-form-field class="time-information-input sub-2 values">
                  <input matInput type="text" placeholder="" formControlName="travRate" readonly tabindex="-1"
                    tabindex="-1">
                </mat-form-field>
                <mat-form-field class="time-information-input sub-2 values">
                  <input matInput type="text" formControlName="travelVal" readonly tabindex="-1">
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field class="time-information-input short">
                  <dps-time-input [mpu]="mpu" [roundedToMPUminute]="true" [resetCount]="resetCount"
                    [parentFormGroup]="formGroup" placeholder="Waiting" [controllerName]="'waiting'">
                  </dps-time-input>
                </mat-form-field>
                <mat-form-field class="time-information-input sub-2 values">
                  <input matInput type="text" placeholder="" formControlName="waitRate" readonly tabindex="-1">
                </mat-form-field>
                <mat-form-field class="time-information-input sub-2 values">
                  <input matInput type="text" formControlName="waitingVal" readonly tabindex="-1">
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field class="time-information-input short">
                  <dps-time-input [mpu]="mpu" [roundedToMPUminute]="true" [resetCount]="resetCount"
                    [parentFormGroup]="formGroup" placeholder="Preparation" [controllerName]="'prep'">
                  </dps-time-input>
                </mat-form-field>
                <mat-form-field class="time-information-input sub-2 values">
                  <input matInput type="text" placeholder="" formControlName="prepRate" readonly tabindex="-1">
                </mat-form-field>
                <mat-form-field class="time-information-input sub-2 values">
                  <input matInput type="text" formControlName="prepVal" readonly tabindex="-1">
                </mat-form-field>
              </div>


              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field class="time-information-input short">
                  <dps-time-input [mpu]="mpu" [roundedToMPUminute]="true" [resetCount]="resetCount"
                    [parentFormGroup]="formGroup" placeholder="Advocacy" [controllerName]="'adv'">
                  </dps-time-input>
                </mat-form-field>
                <mat-form-field class="time-information-input sub-2 values">
                  <input matInput type="text" placeholder="" formControlName="advRate" readonly tabindex="-1">
                </mat-form-field>
                <mat-form-field class="time-information-input sub-2 values">
                  <input matInput type="text" formControlName="advVal" readonly tabindex="-1">
                </mat-form-field>
              </div>
            </div>

          </mat-card>

          <mat-card class="time-record-input-panel-right">
            <h5>Total</h5>
            <div class="body-sub-inputs input-sets">

              <div fxLayout="row" fxLayoutAlign="space-between">
                <span class="time-information-input sub-2 values">Total</span>
                <mat-form-field class="time-information-input sub-2 values">
                  <input matInput type="text" formControlName="totVal" readonly tabindex="-1">
                </mat-form-field>
              </div>


              <div fxLayout="row" fxLayoutAlign="space-between">
              </div>


            </div>
          </mat-card>

        </div>
      </div>


    </mat-tab>
    <mat-tab label="Note">

      <mat-form-field class="attendance-note-txt">
        <input matInput type="text" placeholder="Diary Note" formControlName="diaryNote">
      </mat-form-field>

    </mat-tab>

  </mat-tab-group>
</form>
