

<div class="dps-notification-wrap general">
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <span class="title">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                <span> Session timeout </span>
            </span>
            <span class="spacer"></span>
            <!-- <mat-icon class="header-icon close" (click)="close(null)">close</mat-icon> -->
        </mat-toolbar-row>
    </mat-toolbar>
    <!-- general-notification end -->
    <mat-dialog-content class="notification-body dps-white-gray-scroll dps-blue-scroll">
       
        <span *ngIf="(timeLeft$ | async)?.m > 0">
            Your session will expire in {{(timeLeft$ | async)?.m}} minutes and {{(timeLeft$ | async)?.s}} seconds
        </span>
        <span *ngIf="(timeLeft$ | async)?.m < 0">
              Your session expired
        </span>
      
    </mat-dialog-content>
    <!-- general-notification body end -->
    <div class="bottom-controllers">
        <button class="notification-button mat-elevation-z0" mat-raised-button (click)="onLogout()">Reload now</button>
        <button class="notification-button mat-elevation-z0" mat-raised-button (click)="onOk()">Ok</button>
    </div>
    <!-- general-bottom controller end -->
</div>