.dps-post-view-To-header .dps-post-view-avatar span {
  font-size: 18px;
  color: white;
  position: relative;
  // top: -2px;
}
.dps-post-view-To {
  font-size: 16px !important;
}

.dps-post-view-date {
  color: #666;
}
.dps-attachment-list {
  width: 100%;
  padding-left: 65px;
  padding-right: 10px;
}
.dps-mail-body {
  width: 100%;
  padding-left: 60px;
  padding-right: 10px;
}
.dps-post-action {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}
