<div *ngIf="!showContent" style="width: 100%; height: 100%;"></div>
<div class="dps-file-grid" fxLayout="column">
  <div *ngIf="vlidationInProgras" class="dps-validating-gropping">
    {{vlidationMessage}}
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-drawer-container class="global-search-scroll dps-bundling-actions" style="width: 100%; height:100%;"
    [ngClass]="{'dps-disabled-all':vlidationInProgras}">
    <mat-drawer position="end" mode="side" [opened]="documentViewOpened" fxLayout="column">
      <div class="bundling-actions" fxLayout="row">



        <button mat-icon-button (click)="onCloseViewer()" color="primary"
          [ngClass]="{'dps-doc-viwer-close-btn':docPrivewRow?.docUrl,'dps-email-viwer-close-btn':docPrivewRow?.emailItem}">
          <mat-icon>
            <span>close</span>
          </mat-icon>
        </button>
        <button class="doc-row" mat-icon-button *ngIf="docPrivewRow?.emailItem" (click)="openMsgFile()">
          <mat-icon>
            <span> open_in_new </span>
          </mat-icon>
        </button>


      </div>

      <dps-document-view-page fxFlex="calc(100%-41px)" *ngIf="docPrivewRow?.docUrl"
        (editDocument)="onCloseViewer($event)" [documentUrl]="docPrivewRow?.docUrl" [fileItem]="{data: docPrivewRow}"
        [documentUrlLoadSuccess]="documentUrlLoadSuccess" [documentUrlIsLoading]="documentUrlIsLoading">
      </dps-document-view-page>
      <dps-msg-viewer fxFlex="calc(100%-41px)" *ngIf="docPrivewRow?.emailItem" [input]="{
            viewerFrom: 'diary',
            diaryInput: {appCode: matterInfo.app_Code, branchId: matterInfo.branchID, fileId:
            matterInfo.fileID,
            itemRef: docPrivewRow.diary_UID, attachmentName: docPrivewRow.letter_name}
        }"></dps-msg-viewer>
    </mat-drawer>
    <mat-drawer-content style="height:100%;">
      <as-split [direction]="'vertical'">
        <as-split-area size="40">
          <dps-bundled-profile style="overflow-y:scroll" class="dps-white-gray-scroll"
            [bundlingItemList]="bundlingItemList" [bundlingAllItemList]="bundlingAllItemList"
            [isPreserveExistingPage]="isPreserveExistingPage" [bunldeId]="bunldeId" [isDirty]="isDirty"
            [bundleHeaderView]="bundleHeaderView" [coreBundleHeader]="coreBundleHeader"
            (onclickEditLable)="clickEditLable($event)" (lableChange)="onLableChange($event)"
            (ondblClickDocView)="dblClickDocView($event)" (selectProfileItem)="onSelectProfileItem($event)"
            (startMoveItem)="onStartMoveItem($event)" (dragProfileItem)="onDragProfileItem($event)"
            (onChnageFolderExpand)="onExpanFolder($event)" (dropData)="onDropData($event)"
            (menuChange)="onMenuChange($event)" (changeDateDone)="onChangeDateDone($event)" [matterInfo]="matterInfo"
            (uploadCoverPage)="onUploadCoverPage($event)" (nameTextSave)="onNameTextSave()"
            (updateIsPreserveExistingPage)="onChangePreserveExistingPage($event)" [uploadInProgras]="uploadInProgras"
            (fileDateEnable)="onChangeFileDateEnable($event)" (openMonitor)="onOpenMonitor()"
            (openLogFile)="onOpenLogFile()">
          </dps-bundled-profile>
        </as-split-area>
        <as-split-area size="60">
          <dps-bundling-item-grid [selectGroupHash]="selectGroupHash" [selectGroup]="selectGroup" [loading]="loading"
            [timeOffset]="timeOffset" [bundlingItemList]="bundlingItemList" [gridData]="gridData"
            [selectedGridItems]="selectedGridItems" (folderRowChange)="onFolderRowChange($event)"
            (openDocument)="onOpenDocument($event)" (rowExpand)="gridRowExpan($event)"
            [bundledFolderGroup]="bundledFolderGroup" (menuChange)="onMenuChange($event)"
            (selectRow)="onSelectRow($event)" [columnDef]="columnDef" [searchText]="searchText" [groupData]="groupData"
            [matterInfo]="matterInfo" (historyGridFilterChange)="onHistoryGridFilterChange($event)"
            (changeSelectGroup)="onChangeSelectedGroup($event)" (loadMoreData)="loadMore($event)">
          </dps-bundling-item-grid>
        </as-split-area>
      </as-split>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
