<div style="height: 100%;width: 100%;">
  <mat-drawer-container class="dps-mat-drawer-container  dps-white-gray-scroll">

    <mat-drawer class="dps-mat-drawer" #drawer [opened]="true" mode="side" position="start">
      <dps-distribution-pecuniary-residuary-tab [distributionViewItems]="distributionViewItems"
        class="dps-white-gray-scroll" [distributionEditRow]="distributionEditRow" [token]="token"
        [matterData]="matterData">
      </dps-distribution-pecuniary-residuary-tab>
    </mat-drawer>

    <mat-drawer-content [ngClass]="toggleActive?'slide-off':'slide-on'" class="dps-white-gray-scroll">

      <div class="dps-container-btn">

        <button class="btn dps-toggle-btn" mat-raised-button (click)="slideTogle(drawer)">
          <mat-icon *ngIf="toggleActive">arrow_forward_ios
          </mat-icon>
          <mat-icon *ngIf="!toggleActive">arrow_back_ios
          </mat-icon>
        </button>
        <span fxFlex="1 1 auto"></span>
        <button class="red" (click)="onDelete()" mat-button>
          <mat-icon>delete</mat-icon> Delete
        </button>

      </div>

      <div class="distribution-grid-outer dps-white-gray-scroll">

        <dps-distribution-grid [distributionViewItems]="distributionViewItems"
          (selectedRowClick)="onSelectedRowClick($event)" [selectedRow]="selectedRow"
          [distributionEditRow]="distributionEditRow" (editDistributionClick)="onEditDistributionClick($event)"
          [token]="token" class="dps-white-gray-scroll">

        </dps-distribution-grid>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
