<div class="dps-notification-wrap general">

  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <span class="title">
        <i class="fa fa-list-alt" aria-hidden="true"></i>
        <span>Jobs in Batch </span>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- general-notification end -->

  <mat-dialog-content class="notification-body dps-white-gray-scroll dps-blue-scroll">
    <table class="jobs-data-grid">
      <tr>
        <th class="th1"> Step </th>
        <th> Do </th>
        <th> Done </th>
        <!-- <th> By </th>
        <th style="width:150px"> Date </th> -->
        <th class="th2"> &nbsp; </th>
      </tr>
      <tr *ngFor="let item of tableFields; let index =index;" (click)="onSelectItem(item)" [ngClass]="{'dps_selected_item': selectedItem == item}">
        <td>{{ item.step }} </td>
        <td>
          <mat-checkbox [checked]="item.do" disabled (change)="onChangeDo(item,$event)"></mat-checkbox>
        </td>
        <td>
          <mat-checkbox [checked]="item.done" disabled></mat-checkbox>
        </td>
        <!-- <td>{{ item.by }} </td>
        <td>
          <span *ngIf="item.done===true">{{ item.date | date :'dd/MM/yyyy' }}</span>
        </td> -->
        <td>
          <button class="action-save" [disabled]="index!==rowIndex" mat-button (click)="onSave()" [ngClass]="{'action-disabled':index!==rowIndex}">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </button>
          <button class="action-save-not" [disabled]="index!==rowIndex" mat-button (click)="onDontSave()" [ngClass]="{'action-disabled':index!==rowIndex}">
            Don't save </button>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
  <!-- general-notification body end -->
</div>