@import '~styles/variables.scss';
.dps-matter-grid-button{
    align-items: center;
    // padding-right: 12px;
    font-size: 18px;
    color: #2b475a;
    width: 75px;
}
.dps-matter-grid-button span{
    text-align: center;
    font-size: $secondary-font-size;
}
.dps-matter-grid-button:hover
{
  color:$matter-search-primaty;
  transition:all 0.2s ease-in-out;

}

.grid-sub-button-container .mat-icon-button
{
    line-height: normal;
    margin-top: 4px;
    width: 28px;
    height: 28px;
}
