.spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    background: #224079;
  }
  mat-toolbar-row{
    color: #d4d2d2;
    font-size: 16px;
  }
  mat-grid-list{
    height: 50px;;
  }

  .mat-progress-bar
{
    height: 2px;
}