// chathu table
.dps-year-activity-grid {
  overflow-x: auto;
  height: 100%;
  overflow-y: hidden;
}

.table-scroll {
  /*width:100%; */
  display: block;
  empty-cells: show;
  height: 100%;
  min-width: 1366px;
  /* Decoration */
  border-spacing: 0;
  // border: 1px solid #f6f9fc;
}

.table-scroll thead {
  background-color: #f1f1f1;
  position: relative;
  display: block;
  width: calc(100% - 15px);
  font-size: 11px;
  height: 35px;
  overflow: hidden;
  background: #dae8f4;
}

.table-scroll tbody {
  /* Position */
  display: block;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  /* Decoration */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.table-scroll tr {
  width: 100%;
  display: flex;
}

.table-scroll td,
.table-scroll th {
  flex-basis: 100%;
  flex-grow: 2;
  display: block;
  padding: 1rem;
  text-align: left;
  color: #667a89;
}

/* Other options */

.table-scroll.small-first-col td:first-child,
.table-scroll.small-first-col th:first-child {
  // flex-basis:20%;
  flex-grow: 1;
}

.table-scroll tbody tr:nth-child(2n) {
  background-color: rgba(130, 130, 170, 0.1);
}

.body-half-screen {
  height: calc(100% - 53px);
& :hover{
  cursor: pointer;
  opacity: .9;
}
  tr,
  td {
    // height: 30px;
  }

  tr {
    border-bottom: 1px solid #e9e9e9;
  }

  td {
    // position: relative;
    // bottom: 8px;
    padding: 5px 16px !important;
    font-size: 13px;
    color: #63849f;
    margin: 5px 0px;
  }
}

.small-col {
  flex-basis: 10%;
}

.dps-team-stats {
  background: #e1e1e1 !important;
  padding: 0px 16px !important;
  margin: 0px 0px !important;

  mat-icon {
    width: 15px !important;
    height: 15px !important;
    font-size: 16px !important;
    border-radius: 100%;
    padding: 5px;
    // background: #5492b7;
    color: #fff;
    position: relative;
    left: 13px;
  }
}

.dps-stats-text {
  background: #c8d6e2 !important;

}
mat-icon.dps-round-icons {

  // padding: 11px !important;
  width: 19px !important;
  height: 19px !important;
  font-size: 19px !important;
  // color: #ecf8ff;
  // background: #58616738;
  border-radius: 100%;
}