@import '~styles/variables.scss';


.presidenth-contents {
  position: relative;
  font-size: 12px;
}

.top-actions {

  position: absolute;
  right: 16px;
  z-index: 1000;
  top: 7px;
  width: 480px;
}

.president-h-tabs .mat-tab-body {
  padding: 10px 15px 0;
}

.president-h-tabs {
  .mat-tab-label {
    background: none;
    min-width: 125px;
    font-size: 12px;
    color: #235977;
  }

  .mat-tab-label-active {

    background: #f9e8d1;

  }
}

.ph-save-btn {
  background: #0f4f79;
  color: #fff;
  float: right;
  height: 39px;
  margin-right: 23px;
  align-self: flex-end;
  margin-bottom: 15px;
  margin-left: 20px;
}

.president-h-controller-btn {
  padding: 0;
  margin: 0;
  min-width: 45px;
  font-size: 20px;

  mat-label {
    color: #32434d;
    font-size: 12px;
    padding: 0 7px;
  }

  .details {
    border-right: 1px solid #32434d;
  }
}

.president-h-controller-btn.excel {
  font-size: 19px;
  color: #10671c;
}

.popup-header {
  font-size: $primary-font-size;
  color: white;
  height: 30px;
  height: 42px !important;
  min-height: 42px !important;
  background: #32434d;

  .indicator-icon {
    mat-icon {
      position: relative;
      top: 6px;
    }

  }

  mat-toolbar {
    background: #006cc1;


  }


  mat-toolbar-row .indicator-icon mat-icon {
    border: 3px solid $primary;
  }

  mat-toolbar mat-list-item {
    color: $toolbar-title;
  }

  .header-icon-delete {
    color: #fff;
  }
}

.col-name {
  padding-left: 15px;
  width: calc(100% - 15px);
}

.content-header {
  background: #e4f3ff;
  font-size: 12px;
  font-weight: 600;
  border-right: 1px solid #aecfea;

  .actual,
  .estimated {
    position: absolute;
    right: 16px;
  }
}

.dps-table-content {
  height: calc(100% - 300px);
  margin: 0 -5px;
  width: 100%;
}

.col-content {
  padding-left: 15px;
  height: calc(100% - 101px);
  overflow-y: scroll;

  .input-estimated,
  .input-actual,
  .lbl-name {
    border-right: 1px solid #e5ecf1;
  }

  .input-estimated {
    ::ng-deep.mat-list-item-content {
      padding: 0px 10px;

    }

  }

  ::ng-deep .mat-form-field-underline {
    bottom: unset;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: unset !important;
  }

  ::ng-deep .mat-form-field-underline {

    background-color: unset !important;
  }
}

.input-wrapper {
  width: 100%;
  padding: 0px 0px;


}

.number-input {
  text-align: right
}

.footer {
  margin-bottom: 4px;
  padding: 0px 15px 0px 15px;
  font-size: 13px;
  font-weight: 600;
  border-top: 1px solid #e5ecf1;
  background: #d7dde2;

  .input-estimated,
  .input-actual,
  .lbl-name {
    border-right: 1px solid #e5ecf1;
  }

  .lbl-name {
    font-weight: 600;
  }

}

.precedenths-row-select {
  background: #89b2d2;
}

.dps-row-selector:hover {
  background: #f5f7f9;

  .input-wrapper {
    background: #cedfec;
  }

}

.disabled {
  color: rgba(0, 0, 0, .26) !important;
}

.export-success-status {
  text-align: center;
  color: #1d5b84;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.estimated-value-exeed {
  background: #c58f8f;
  border-bottom: 1px solid #eababa;
}

.assumptions {
  font-style: italic;
}

.assumtions-wrap {


  .assumptions {
    width: calc(100% - 18px);
    margin-top: 8px;
    margin-left: 18px;
  }

}
