<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="Off" />
        <httpRuntime maxUrlLength="30720" maxQueryStringLength="40960" requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,\,?"/>
    </system.web>
    <!-- <location path="*.map"> -->
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="sameorigin" />
                <add name="X-XSS-Protection" value="1" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <!-- <add name="Content-Security-Policy" value="script-src 'unsafe-inline' *.microsoftonline-p.com *.gstatic.com *.googleapis.com *.dpscloud.com *.dpshosted.com *.azurewebsites.net" />  -->
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <add name="Server" value="Unknown" />
                <remove name="X-AspNet-Version" />
                <remove name="X-AspNetMvc-Version" />
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>

        <security>
            <requestFiltering>
                <requestLimits maxUrl="30720" maxQueryString="40960" maxAllowedContentLength="2147483647"/>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension="woff" mimeType="application/font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="config" stopProcessing="true" patternSyntax="ECMAScript">
                    <match url="^app-config.json" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" matchType="Pattern" ignoreCase="true" pattern="^#{GoogleLoginHost}#$" />
                        <add input="{HTTP_Disguised_Host}" matchType="Pattern" ignoreCase="true" pattern="^#{GoogleLoginHost}#$" />
                    </conditions>
                    <action type="Rewrite" url="app-config-google.json" />
                </rule>
                <rule name="Webservice2" stopProcessing="false">
                    <match url="^webservice2(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://#{BackendWebApp2FQDN}#/{R:1}" />
                </rule>
                <rule name="Webservice" stopProcessing="false">
                    <match url="^webservice(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://#{BackendWebAppFQDN}#/{R:1}" />
                </rule>               
                <rule name="apiv3" stopProcessing="false">
                    <match url="^apiv3(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://#{APIV3}#/{R:1}" />
                </rule>
                <rule name="wopiservice" stopProcessing="false">
                    <match url="^wopiservice(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://#{WopiWebAppFQDN}#/{R:1}" />
                </rule>

                <rule name="pdfviwer" stopProcessing="false">
                    <match url="^pdfviwer(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://#{PdfPublicProxyIp}#:#{PdfViewerIISPort}#/{R:1}" />
                </rule>

                <rule name="graphapi" stopProcessing="false">
                    <match url="^graphapi(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://graph.microsoft.com/{R:1}" />
                </rule>
                <rule name="outlookapi" stopProcessing="false">
                    <match url="^outlookapi(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://outlook.office.com/{R:1}" />
                </rule>

                <rule name="inline-attachements" stopProcessing="true">
                    <match url="^inline-attachements(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                        <add input="{QUERY_STRING}" matchType="Pattern" ignoreCase="true" pattern="access_token=(.*)" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_AUTHORIZATION" value="Bearer {C:1}" />
                    </serverVariables>
                    <action type="Rewrite" url="https://outlook.office.com/{R:1}" appendQueryString="False" />
                </rule>
                <rule name="profile-photo" stopProcessing="true">
                    <match url="^profile-photo(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                        <add input="{QUERY_STRING}" matchType="Pattern" ignoreCase="true" pattern="access_token=(.*)" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_AUTHORIZATION" value="Bearer {C:1}" />
                    </serverVariables>
                    <action type="Rewrite" url="https://graph.microsoft.com/{R:1}" appendQueryString="False" />
                </rule>
                <rule name="Index Redirect" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*\.()" negate="true" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.html" appendQueryString="false" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="noCache" preCondition="noCacheContents">
                    <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
                    <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
                </rule>

                <rule name="cacheAttachemnt" preCondition="attachemntRequests">
                    <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
                    <action type="Rewrite" value="private, must-revalidate, max-age=1800"/>
                </rule>

                <preConditions>
                    <preCondition name="noCacheContents" logicalGrouping="MatchAny">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/json" />
                    </preCondition>

                    <preCondition name="attachemntRequests" logicalGrouping="MatchAny">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^image/*" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <caching enabled="false">
            <!-- <profiles>
                <add extension=".html" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".json" policy="DontCache" kernelCachePolicy="DontCache" />
            </profiles> -->
        </caching>
    </system.webServer>
</configuration>
