<div class="dps-crime-management-header-bar">
  <div class="dps-crime-field-controller" fxLayout="row">
    <mat-form-field floatLabel="always">
      <mat-select placeholder="Class Type" [disabled]="isLoading" [ngModel]="addClassModel?.classId"
        (selectionChange)="onChangeType($event.value)">
        <mat-option *ngFor="let type of filteredType" [value]="type.classId">
          {{type.className}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-placeholder>Class Name</mat-placeholder>
      <input matInput #classNameInput [disabled]="isLoading" [value]="addClassModel?.className"
        (focusout)="onChangeClassName(classNameInput.value)">
    </mat-form-field>


    <mat-form-field>
      <mat-placeholder>Open Date</mat-placeholder>
      <input matInput [matDatepicker]="picker" [disabled]="isLoading"
        [ngModel]="addClassModel?.openDate | date:'yyyy-MM-dd'" (dateChange)="onChangeOpenDate($event.value)">
      <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="isLoading"></mat-datepicker-toggle>
      <mat-datepicker #picker [disabled]="isLoading"></mat-datepicker>
    </mat-form-field>

    <button mat-button class="dps-crime-filed-btn" (click)="onAddClass()" [disabled]="isLoading">
      Add
    </button>

    <!-- <button mat-button class="dps-crime-filed-btn" (click)="onProceeding()" [disabled]="isLoading">
        Proceeding
      </button>
      <button mat-button class="dps-crime-filed-btn" (click)="onInvestigationClass()" [disabled]="isLoading">
        Investigation Class
      </button> -->
    <span fxFlex="1 1 auto"></span>

    <button *ngIf="!rateFileloading" mat-button class="dps-crime-filed-btn" (click)="onRateFileUpdate()">
      Update Rate File
    </button>

    <button disabled *ngIf="rateFileloading" mat-button class="dps-crime-filed-btn uploading">
      <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i> Updating Rate Files
    </button>

    <!-- <div>

      <dps-grid-font-controller [activeClass]="buttonActiveClass" [showRefreshButton]="true" (fontSizeMin)="onFontSizeMinusClick()"
        (fontSizeReset)="onFontSizeResetClick()" (fontSizePlus)="onFontSizePlusClick()" (refresh)="onRefresh()" class="drid_controller_custom">
      </dps-grid-font-controller>

    </div> -->

  </div>

</div>
